# Python
.venv/
__pycache__/
*.pyc

# VS Code settings
.vscode/*
.editorconfig
# Documentation eliminada por el momento
docs/
docs/edge_specification.md
# Arduino / PlatformIO
.pio/
.arduino*
build/
*.elf
*.hex

# Docker / Infra
infra/mosquitto/data/
*.log

# SO / miscelánea
.DS_Store
Thumbs.db

# AI agent instructions (personalización local)
.github/copilot-instructions.md
TFM_SUPERVISOR_CARGAS.code-workspace