# Python
.venv/
__pycache__/
*.pyc

# VS Code (permitimos algunos archivos de config)
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/README.md

# Arduino / PlatformIO
.pio/
.arduino*
build/
*.elf
*.hex

# Docker / Infra
infra/mosquitto/data/
*.log

# SO / miscelánea
.DS_Store
Thumbs.db

# AI agent instructions (personalización local)
.github/copilot-instructions.md
